*{
  box-sizing: border-box;

}

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://wallpapercave.com/wp/wp11455879.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
  /* overflow: hidden; */
}

.login{
  background-color:  rgba(0, 0, 0, 0.611);
  border-radius: 10px;
  color: #fff;
}

/* #textField, #textField:focus{
  border: 1px solid white;
  border-radius: 5px;
  color: #fff;
} */

.form-field{
  margin: 20px 0px !important;
  border: 1px solid white !important;
  border-radius: 5px;
  color: #fff !important;
}

.textField:focus{
  border: none;
  outline: none;
}

.textfield__label{
  color: #fff !important;
}

.staffBox{
 
  background-color:  rgba(236, 231, 231, 0.274);
  border-radius: 10px;
  color: #fff;
 
}